test-targets/fork
test-targets/fork.o
test-targets/hello-asm
test-targets/hello-asm.o
test-targets/loop-asm
test-targets/loop-asm.o
test-targets/coverage.o
test-targets/coverage
test-targets/coverage-long
*.o
*.so
cmplog-bootstrapper
test/**
fuzz/**
