targets/fork
targets/fork.o
targets/hello-asm
targets/hello-asm.o
targets/loop-asm
targets/loop-asm.o
targets/coverage.o
targets/coverage
targets/coverage-long
*.o
*.so
cmplog-bootstrapper
test/**
fuzz/**
